
.header{
        font-family: 'Raleway', sans-serif;
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px;
}

.header img{
    height: 80px;
    width: 90px;
}

.menu ul{
    display:flex;
}

.menu ul li{
    list-style-type: none;
}

.menu ul li a{
    text-decoration: none;
    color:var(--DesaturatedBlue);
    margin-left: 32px;
}

.caja2{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
 
}

.tarjeta{
    box-shadow: 3px 3px 20px;
    margin: 20px;
    
}

.img{
    margin: 20px;
}

.about{
    margin: 20px;
    height: 100%;
    width: 100%;
}

.gris{
    border-color: gray;
    background-color: rgb(223, 222, 222);
    padding: 150px;
}

.icons{
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    display: flex;
}
