.body{
    font-family: 'Satisfy', cursive;
}

.header{
        font-family: 'Raleway', sans-serif;
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px;
}

.header img{
    height: 80px;
    width: 90px;
}

.menu ul{
    display:flex;
}

.menu ul li{
    list-style-type: none;
}

.menu ul li a{
    text-decoration: none;
    color:var(--DesaturatedBlue);
    margin-left: 32px;
}

.caja2{
    display:flex;
    margin-left: 20px;
    
}

.tarjeta{
    box-shadow: 3px 3px 15px;

}

.img{
    margin: 20px;
}

.about{
    margin: 20px;

}

.gris{
    background-color: gray;
}